.add-product-form{
    background: #FFFFFF;
    box-shadow: 5px 4px 15px 2px rgba(48, 0, 108, 0.2);
    width: 700px;
    height: auto;    
    padding: 3rem;
}

.add-product-form .title-price{
    display: flex;
    /* background-color: slateblue; */
    padding-bottom: 2rem;
}

.add-product-form input{
    border-radius: 20px;
    border: solid #808080 ;
    margin-bottom: 1.5rem;

}

.add-product-form #title, #description{
    height: 30px;
    width: 382px;

}

.add-product-form button{
    background-color: white;
    border: 2px solid #8130E9;
    border-radius: 50px;
    width: 155px;
    height: 35px;
    color: #8130E9;
    font-weight: bold;
}

@media screen and (max-width : 1024px) {

    .add-product-form{
       
        width: 400px;
       
    }


}

@media screen and (max-width : 840px) {
    
    .add-product-form{
       
        width: 400px;
       
    }

}

@media screen and (max-width : 640px) {
    
    .add-product-form{
       
        width: 250px;
       
    }


    .add-product-form #title, #description{
        height: 30px;
        width: 250px;
    
    }

}